*
!build.sbt
!README.md
!.gitignore

!src
src/*
!src/main
src/main/*
!src/main/scala
src/main/scala/*
!src/main/resources
src/main/resources/*
!src/main/scala/*.scala
!src/main/resources/application.conf

!project
project/*
!project/assembly.sbt
!project/plugins.sbt
!project/build.properties